h1 {
    color: red;
}

#container {
    margin: auto;
    background-color: rgb(176, 213, 221);
    width: 50%;
    height: 300px;
    padding: 20px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}